.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  display: inline-block;
  margin: 0 20px 0 0;
  padding-right: spacing(6);
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  vertical-align: top;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.desc {
  display: inline-block;
  text-align: left;
}
